<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="carlist">Araçlar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="brandlist">Markalar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="colorlist">Araç Renkleri</a>
          </li>
        </ul>
        <form class="d-flex" *ngIf="checkToLogin() == false ">
          <button routerLink="login"  type="button" class="btn btn-success">Giriş Yap</button>
        <button type="button" routerLink="register" *ngIf="checkToLogin() == false" class="btn btn-info">Kayıt ol</button>
        </form>
        <ul class="navbar-nav  mb-2 mb-lg-0">
        <li class="nav-item dropdown" *ngIf="checkToLogin() == true">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{firstName}} {{lastName}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item">Kullanıcı Bilgilerini Güncelle</a></li>
          </ul>
        </li>
      </ul>
        <button type="button" routerLink="register" *ngIf="checkToLogin() == true" (click)="logout()" class="btn btn-info">Çıkış Yap</button>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
